<div class="post-preview">
    <a href="post.html">
        <h2 class="post-title">
            Recomendaciones durante el Estado de Emergencia por el Covid-19
        </h2>
        <h3 class="post-subtitle">
            El Gobierno ha implementado severas medidas sanitarias durante 
            Estado de Emergencia que han generado grandes impactos. Por un lado, tenemos...
        </h3>
    </a>
    <p class="post-meta">Publicado por
        <a href="#">Admin</a>
        Abril 8, 2020
    </p>
</div>
<hr>
<div class="post-preview">
    <a href="post.html">
        <h2 class="post-title">
            Feriados por Semana Santa: ¿Cuánto me deben pagar si trabajo este jueves y viernes?
        </h2>
    </a>
    <p class="post-meta">Publicado por
        <a href="#">Admin</a>
        Abril 7, 2020
    </p>
</div>
<hr>
